.classe1 {
    background: blue;
  }
  #idUm {
    background: blue;
  }
  #idDois {
    background: yellow;
  }
  #idTres {
    background: lightblue;
  }
  #idQuatro {
    background: lightgreen;
  }